
<style>
.reveal h3 {
    color: #999999;
    text-align: center;
    padding-bottom: 10px;
    font-family: Impact, sans-serif;
}

.reveal h4 {
    color: #00ff00;
    text-align: center;
    padding-bottom: 10px;
    font-family: Impact, sans-serif;
}

.reveal h5 {
    color: #ff0000;
    text-align: center;
    padding-bottom: 10px;
    font-family: Impact, sans-serif;
    font-size: 30px;
}

.reveal h6 {
    color: #0000ff;
    text-align: center;
    padding-bottom: 10px;
    font-family: Impact, sans-serif;
    font-size: 20px;
}
</style>


